.about {
    width: 90%;
    height: 500px;
    margin: auto;
    background-color: #212225;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aboutMe {
    width: 50%;
    color: #efefef;
    text-transform: uppercase;
    line-height: 25px;
    text-align: center;
    /* border: 1px solid red; */
}
.image {
    width: 40%;
    /* border: 1px solid red; */
    
}
.image img {
    align-self: center;
    margin: auto;
    width: 50%;
}