.name {
    color: black;
    position: absolute;
    top: 50%;
    right: 50%;
    opacity: 1;
}

/* .helper {
    height: 100vh;
    background-color: rgb(255, 251, 251);
} */

/* 6, 7, 14 : black*/
/*41, 82, 74 brunswick green  */
/* 148, 161, 135 cambrigde blue */

